:root {
  --aspectRatio: 0.75;
  --canvasWidth: 90vw;
  --canvasHeight: 90vh;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.ooo {
  background-color: white;
  position: absolute;
  left: 0px;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  font-size: 2em;
  padding: 10%;
}

#sketch-holder {
  background-color: red;
  width: var(--canvasWidth);
  height: calc(var(--canvasWidth) * var(--aspectRatio));
} 

canvas {
  display: flex;
  border: 3px solid black;
  /* margin: -3em; */
  position: fixed;
}


p.titre{
font-family: 'Source Sans Pro', sans-serif;
position: fixed;
bottom: 8px;
font-size: 40px;
}

.pop-up-button{
    position: fixed;
    top:0.5em;
    left: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}


.pop-up-button {
  z-index: 100;
}


@media only screen and (min-aspect-ratio: 4/3) {
  /* Define width by height */
  /* Define hight by width */
  #sketch-holder {
    width: calc(1 / var(--aspectRatio) * var(--canvasHeight));
    height: var(--canvasHeight);

    /* width: 1024px;
    height: 768px; */
  } 
}

@media only screen and (max-aspect-ratio: 4/3) {
  #sketch-holder {
    width: var(--canvasWidth);
    height: calc(var(--canvasWidth) * var(--aspectRatio));
    /* width: 1024px;
    height: 768px; */
  } 
}

@media only screen and (max-width:500px) {

  overflow: hidden;
  body{
    overflow: hidden;
  }
  .pop-up {
    font-size: 12px;

  }

    canvas {
      width: 300px;
      height: 220px;
      position: fixed;
      top:180x;

    }

    p.titre {
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    bottom: 50px;
    font-size: 12px;
    }


    .pop-up-button {
        position: fixed;
        top:0.5em;
        left: 0.5em;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 25px;
    }

    .pop-up {
      font-size: 25px;
      position: fixed;
    }
}

@media only screen and (max-width:880px) {
  canvas{
    width: 800px;

    position: fixed;
    top:180x;

  }

}
